/* regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* header */
.clear::after{
    content: "";
    display: table;
    clear: both;
}
 
  .barra-header{
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
  }
  .logo{
      float: left;
      padding: 15px;
      width: 10%;
      vertical-align: middle;
  }
  /* nav */
  nav{
      float: left;
      width: 40%;
  }
 .navdx{
     float: left;
     padding-left: 166px;
    
 }

  li{
      display: inline-block;
      padding: 19px;
  }
  a{
    text-decoration: none;
    color: black;
  }

  .bottone{
      background-color: blue;
      width: 5%;
      height: auto;
      float: right;
  }
  .bianco{
      color: white;
      text-align: center;
  }
  .bia{
      padding-top: 16px;
  }

  a:hover{
     text-decoration: underline;
      
  }


  /* jumbotron */
  .jumbotron{
      width: 100%;
      background-color: rgb(99, 204, 236);
      /* regoledebug */
      height: 619px;
  }

  .testojumbo{
      width: 80%;
      margin: 0px auto;
      /* regoledebug */
     
  }
  .jumbo{
    height: 400px;
    margin-left: 95px;
  }

  a#textbottone{
    color: rgb(255, 255, 255);
    text-align: center;
  }
 /* clearfix */
  .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }
  .clearfix{
      width: 80%;
      margin: 0 auto;
  }
  .colonn{
    float: left;
  }

  .sx{
      width: 30%;
      /* regoledebug */
      
  }

  .dx{
      width: 70%;
      /* regoledebug */
      
  }

  .fa, .fas{
     font-size: 50px;
     margin-top: 30px;
  }

  .fa-city{
    font-size: 15px;
    margin-top: 0px;
    color: #6c6b6b;
  }

  h1{
    font-size: 65px;
    padding: 55px 0px;
  }
/* main */

.tit, .piano{
    width: 70%;
    margin: 155px auto 0px;
    height: auto;
    margin-bottom: 30px;
}

.sfondocolonn{
    width: 70%;
    margin: 130px auto;
    height: auto;
  
}

.tariff{
    width: 27%;
    margin: 0 3%;
    border: solid 1px black;
    height: auto;
    /* regoledebug */
   
   
}
.omino{
    padding: 16px;
    padding-left: 107px;
    border-bottom: solid 1px;
}

.sky{
    padding: 16px;
    padding-left: 107px;
    border-bottom: solid 1px;
}

h4{
   padding: 25px; 
   font-size: 20px;
   display: inline-block;
}

h5{
    padding: 10px 25px;  
}

.mese{
    padding: 0px 25px;
    display: block;
    margin-bottom: 35px;
}

div>.fa-user{
    font-size: 13px;
    margin-left: 25px;
    text-align: right;
}

.fa-pencil-alt{
    padding-left: 25px;
    font-size: 15px;
    
}
.fa-folder{
    padding-left: 25px;
    font-size: 15px;
    margin-bottom: 30px;
}

.bott{
background:#2c29eb;
border:0;
color:#fff;
padding:6px 20px;
width: 80%;
margin: 23px auto;
text-align: center;

}

#prelink{
    padding-left: 25px;
    margin-top: 30px;
    font-size: 12px;
}

#blue{
    color: blue;
    margin-top: 30px;
    font-size: 12px;
}

#rule{
    width: 50px;
    margin-left: 25px;
    margin-top: 15px;
}
#chek1{
    font-size: 12px;
    margin-left: 25px;
}
#chek{
    padding: 10px;

    
}

.fa-check{
    font-size: 15px;
    margin-top: 30px;
    color: blue;
}
 
/* sottosezionetariffa */

.tit1{
    width: 70%;
    margin: 50px auto 0px;
    border: solid 1px black;
    height: auto;
    /* regole debug */
    
}
.city1{
    text-align: center;
    padding: 16px;
}

.tit2{
    width: 70%;
    margin: 0% auto;
    border: solid 1px black;
    height: auto; 
}
#sottotitolo{
    margin-left: 25px;
    font-size: 14px;
}

.sottotit{
margin-top: -52px;
margin-right: 10px;
width: 30%;
}
/* patner */

#patner{
    width: 622px;
}

h3{
    padding-left: 32px;
    font-size: 38px;
    margin-bottom: 30px;
}
.tariffario{
    padding-left: 32px;
    margin-top: 30px;
}
 .fa-dot-circle{
    font-size: 16px;
    color: blue;
}

 .patnerdx{
    width: 30%;
    height: auto;
      /* regoledebug */
    
 }
 #trova{
    margin-left: -109px;
 }

 #trova2{
     margin-left: -80px;
     font-size: 19px;
 }
 
 .patnersx{
    width: 70%;
    height: auto;
    /* regoledebug */
    
}
.bianco3{
    width: 64%;
    margin-top: 44px;
    margin-left: -77px;
    background:#ffffff;
    text-align: center;
    border: solid 1px black;

}

.bianco1{
    color: rgb(0, 0, 0); 
}
/* linee guida */

.tariffa1{
    width: 285px;
}
.co{
    width: 27%;
    margin: 0 3%;
    height: auto;
}
#trova0{
    margin-left: -25px;
}
#trova1{
    font-size: 15px;
}


/* sezione scopri di piu */ 

.business{
    width: 70%;
    margin: 110px auto 0px;
    height: auto;
    
}

.riquadri{
    width: 100%;
    margin: 30px auto 0p;
    height: auto;  
   
}

.design{
    width: 32%;
    height: 407px;
}

.grey{
    width: 36%;
    /* regoledebug */
    background-color: rgb(221, 222, 223);
    height: 408px;
}

.aziende{
    width: 50%;
    float: left;
    height: 204px;}

.uno{
   background-color: rgb(149, 187, 136);

}

.due{
background-color: rgb(90, 39, 53);
}

.tre{
    background-color: rgb(22, 139, 219);

}

.quattro{
background-color: rgb(221, 59, 13);

}

.cinque{
background-color: rgb(177, 48, 26);
}

.sei{
background-color: rgb(156, 188, 211);
}

.sette{
background-color: rgb(22, 58, 150);
}

.otto{
background-color: rgb(225, 191, 1);
}

#figuragrey{
    width: 159px;
    margin: 54px;

}

#sottoparagrafogrey{
    margin: 0px 54px 46px

}
span{
    margin-left: 54px;
}

#figure1{
    margin: 78px 46px;
    width: 150px;
    filter: invert(1);
    vertical-align: middle;
}

#figure2{
    margin: 50px;
    width: 150px;
    filter: invert(1);
    vertical-align: middle;
}

.porta{
    width: 100%;
    margin: 0 auto;
    height: 100px;  
    /* debug */
    background-color:rgb(156, 188, 211);;
}

.frequenti{
    width: 70%;
    margin: 0 auto;
    /* regoledebug */   
    height: 400px;
    background-color: azure;
}

.piede{
    width: 100%;
    /* regoledebug */   
    height: 500px;
    background-color: black;

}

#dipiu{
text-decoration: underline;
color: blue;
margin-left: 33px;
}
/* footer */

.piede2{
    width: 90%%;
    /* regoledebug */   
    height: 500px;
   
}

.navigatori{
    width: 20%;
    /* regoledebug */
    background-color: rgb(255, 255, 255);
    height: 300px;
}