/* regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

/* header */
.clear::after{
    content: "";
    display: table;
    clear: both;
}
 
  .barra-header{
    width: 100%;
    height: 60px;
  }
  .logo{
      float: left;
      padding: 15px;
      width: 10%;
      vertical-align: middle;
  }
  /* nav */
  nav{
      float: left;
      width: 40%;
  }
 .navdx{
     float: left;
     padding-left: 166px;
    
 }

  li{
      display: inline-block;
      padding: 19px;
  }
  a{
    text-decoration: none;
    color: black;
  }

  .bottone{
      background-color: blue;
      width: 5%;
      height: auto;
      float: right;
  }
  .bianco{
      color: white;
      text-align: center;
  }
  .bia{
      padding-top: 16px;
  }

  a:hover{
     text-decoration: underline;
      
  }


  /* jumbotron */
  .jumbotron{
      width: 100%;
      background-color: rgb(99, 204, 236);
      /* regoledebug */
      height: 582px;
  }

  .testojumbo{
      width: 80%;
      margin: 0px auto;
      /* regoledebug */
     
  }
  .jumbo{
    height: 400px;
    margin-left: 95px;
  }

  .bottone1{
    
    background-color: royalblue;
    margin-top: 16px;
    height: 30px;
    color: white;
    text-align: center;
  }
  a#textbottone{
    color: rgb(255, 255, 255);
    text-align: center;
  }
 /* clearfix */
  .clearfix::after{
    content: "";
    display: table;
    clear: both;
  }
  .clearfix{
      width: 80%;
      margin: 0 auto;
  }
  .colonn{
    float: left;
  }

  .sx{
      width: 30%;
      /* regoledebug */
      
  }

  .dx{
      width: 70%;
      /* regoledebug */
      
  }

  .fa, .fas{
     font-size: 50px;
     margin-top: 30px;
  }

  h1{
    font-size: 65px;
    padding: 37px 0px;
  }
/* main */

.tit, .piano{
    width: 70%;
    margin: 155px auto 0px;
    height: auto;
    margin-bottom: 30px;
}

.sfondocolonn{
    width: 70%;
    margin: 0 auto;
    height: 400px;
  
}

.tariff{
    width: 27%;
    margin: 0 3%;
    border: solid 1px black;
    height: 400px;
    /* regoledebug */
   
    height: 400px;
}
.omino{
    padding: 16px;
    padding-left: 107px;
    border-bottom: solid 1px;
}
 
/* sottosezionetariffa */

.tit1{
    width: 70%;
    margin: 50px auto 0px;
    border: solid 1px black;
    /* regole debug */
    background-color: blue;
    height: 50px;
}

.tit2{
    width: 70%;
    margin: 0% auto;
    border: solid 1px black;
    /* regole debug */
    background-color: blue;
    height: 100px;
}

 /* tariffario */

h3{
    padding-left: 32px;
    font-size: 38px;
    margin-bottom: 30px;
}
.tariffario{
    padding-left: 32px;
    margin-top: 30px;
}
.fas, .fa-dot-circle{
    font-size: 16px;
    color: blue;
}

 .patnerdx{
    width: 30%;
      /* regoledebug */
      background-color: rgb(198, 226, 43);
      height: 400px;
 }
 
 .patnersx{
    width: 70%;
    /* regoledebug */
    background-color: blueviolet;
    height: 400px;
}


/* sezione scopri di piu */ 

.business{
    width: 70%;
    margin: 110px auto 0px;
    height: 60px;
    /* regole debug */
    background-color: blue;
}

.riquadri{
    width: 100%;
    margin: 0 auto;
    height: 300px;  
   
}

.design{
    width: 18%;
    /* regoledebug */
    background-color: rgb(198, 226, 43);
    height: 300px;
}

.grey{
    width: 28%;
    /* regoledebug */
    background-color: rgb(198, 226, 43);
    height: 300px;
}

.porta{
    width: 100%;
    margin: 0 auto;
    height: 100px;  
    /* debug */
    background-color: rgb(0, 121, 121);
}

.frequenti{
    width: 70%;
    margin: 0 auto;
    /* regoledebug */   
    height: 400px;
    background-color: azure;
}

.piede{
    width: 100%;
    /* regoledebug */   
    height: 500px;
    background-color: black;

}
/* footer */

.piede2{
    width: 90%%;
    /* regoledebug */   
    height: 500px;
   
}

.navigatori{
    width: 20%;
    /* regoledebug */
    background-color: rgb(255, 255, 255);
    height: 300px;
}